# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/

# Node
node_modules/
dist/
.vite/

# Env files
.env
.example
.env.local
*.env

# Secrets
firebase-service-account.json
serviceAccountKey.json

# IDE
.vscode/
.idea/

# Mac
.DS_Store

# Docker
postgres-data/

# ML
backend/app/ml/experiments/
backend/app/ml/*.pkl